annotated-types==0.5.0
anyio==3.7.1
attrs==23.1.0
certifi==2023.7.22
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
coverage==7.3.0
exceptiongroup==1.1.3
fastapi==0.101.1
Fiona==1.9.4.post1
geojson-pydantic==1.0.0
geopandas==0.13.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
iniconfig==2.0.0
numpy==1.25.2
packaging==23.1
pandas==2.0.3
pluggy==1.2.0
pydantic==2.2.1
pydantic_core==2.6.1
pyproj==3.6.0
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
pytz==2023.3
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
tomli==2.0.1
typing_extensions==4.7.1
tzdata==2023.3
uvicorn==0.23.2
